<footer>
    <h1>Logo</h1>
    <div>
        <h3>Home</h3>
        <h3>Popular Shows</h3>
        <h3>New Releases</h3>
        <h3>Browse Genres</h3>
    </div>
    <p>&copy; 2024 YourWebsiteName. All rights reserved.</p>
</footer>
  