<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
  </head>

  <body>
    <div>
      <div>
        <h1>AniMatch</h1>
        <p class="description">Welcome to AniMatch, the ultimate destination for anime lovers. Explore our vast collection, get personalized recommendations, and connect with a vibrant community of fellow fans.</p>
        <div class="button-container">
          <a href="/register" role="button">Register</a>
          <a href="/login" role="button">Login</a>
        </div>
      </div>
    </div>
  </body>
</html>
