<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
  </head>
  <body>
    <div class="main">
      <div class="container">
        <h1 class="heading">Login</h1>
        <form action="/login" method="POST">
          <div class="inputs">
            <label for="email">Email</label>
            <input type="email" name="username" id="email">
          </div>
          <div class="inputs">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
          </div>
          <div class="buttons">
            <button class="register-button" onclick="window.location.href='/register'">Sign up</button>
            <button class="login-button" type="submit">Login</button>
          </div>
        </form>
        <% if (error) { %>
          <p><%= error %></p>
        <% } %>
      </div>
    </div>
  </body>
</html>
