<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <%- include('navbar') %>
    <h1>Discover Your Favorite Anime on AniMatch</h1>
    <p>Welcome to AniMatch, the ultimate destination for anime lovers. Explore our vast collection, get personalized recommendations, and connect with a vibrant community of fellow fans.Welcome to AniMatch, the ultimate destination for anime lovers. Explore our vast collection, get personalized recommendations, and connect with a vibrant community of fellow fans.</p>
    <button>Explore</button>
    <button>Sign Up</button>
  </div>
  <%- include('footer') %>
</body>
</html>
