<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/register.css">
  <title>Register</title>
</head>
<body>
  <div class="main">
    <h1 class="heading">Register</h1>
    <div class="container">
      <form action="/register" method="POST">
        <div class="inputs">
          <label for="email">Email</label>
          <input type="email" name="username" id="email">
        </div>
        <div class="inputs">
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
        </div>
        <div class="buttons">
          <button class="register-button" type="submit">Register</button>
        </div>
      </form>
      <% if (error) { %>
        <p><%= error %></p>
      <% } %>
      <button class="login-button" onclick="window.location.href='/'">Login Instead</button>
    </div>
  </div>
</body>
</html>
